.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 1rem;
  color: var(--white);
  background: var(--base-button-background, var(--green-100));
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 100%;
  padding: var(--base-button-padding, (1rem 0));
}

.button:hover {
  background: var(--base-button-background, var(--green-75));
}

.button:disabled {
  background: var(--dark-blue-2550);
  color: var(--dark-blue-25);
}
